<% provide :title, t(".title") %>
<!DOCTYPE html>
<html>
<body>
  <h1><%= t ".title" %></h1>
  <p>
    <%= t ".body_1" %>
    <a href="http://www.railstutorial.org/contact"><%= t ".body_2" %></a>.
  </p>
</body>
</html>
