  <% provide :title, t(".title") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Sample App</h1>
    <p><%= t ".body_1" %>
      <a href="http://www.railstutorial.org/"><%= t "tutorial" %></a>
      <%= t ".body_2" %>.
    </p>
  </body>
</html>
